# Ignore the target directory where compiled classes and artifacts are stored
target/

# Ignore build output in specific directories but allow src/main/build and src/test/build
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore the .mvn directory and the maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Ignore IDE-specific files and configuration files

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


